/* import fonts */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: turquoise;
}

#navbar {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

#navbar img {
  max-height: 2rem;
}

#navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

#footer {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  border-top: 1px solid black;
  width: 100%;
}



/* POKEMON CARDS */
#main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.PokeCard{
  background-color: burlywood;
  margin: 5px;
  width: 20%;
}

.picDiv{
  background-color: yellow;
}